/*------Variables-----*/
:root {
    /* Colores */
    --bg-navbar:#689f38;/*#33691e;*/
    --text_titulos:#689f38;/*#ef6c00 ;/*#689f38; /*#ffb300; /*#17A589;*/
    --text_titulo_tabla:#009688;
    --border_tabla:#a5d6a7/**/
}
